.product-list {
    background-color: dodgerblue;
    height: 100px;
    margin-bottom: 70px;
    text-align: center;
    font-size: 30px;
    color: white;
}
.pt-25 {
    padding-top: 25px;
}
.btn-buy-now {
    background-color: dodgerblue !important;
    color: white !important;
}
.summary-header-color {
    background-color: beige;
    font-size: 30px;
    padding-left: 10px;
}